/*** Styles for the webpage ***/



/** General styles **/


body {
	font-family: Georgia, "Times New Roman", Times, serif;
	padding-left: 11em;
}



/** Signature styles **/


address {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 0.1em  dotted;
}



/** Navigation bar **/


ul.navbar {
	position: absolute;
	top: 2em;
	left: 1em;
	width: 9em;
	list-style-type: none;
	padding: 0;
	margin: 0;
}


/* List element styles */

ul.navbar > li {
	background: white;
	margin: 0.5em 0em;
	padding: 0.3em;
	border-right: 1em solid black;
}

ul.navbar a {
	text-decoration: none;
}

a:link {
	color: blue;
}

a:visited {
	color: purple;
}



/** Heading styles **/


h1 {
	font-style: Helvetica;
	font-size: 199%;
}